
// ##################################################################################################
// ##################################################################################################
// ##################################################################################################
// CSS from AXD
.publication {
    // top: 473px;
    // left: 568px;
    // width: 938px;
    // height: 188px;
    background: #18213E 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.publicationArtiste {
    top: 426px;
    left: 608px;
    width: 90px;
    height: 90px;
    background: #FAC0BD 0% 0% no-repeat padding-box;
    opacity: 1;
}

.pubArtistPict {
    border-radius: 50%;
    max-height: 10rem;
}


.actionButtons {
    letter-spacing: 1rem;
    text-align: right;
}