@import "../../../shared/shared";

.aa-btn-register {
  padding: 12px 56px;
  color: $primary;
  font-size: $f-cta;
  background: $white;
  font-weight: 600;
  border: 2px solid $white;
  border-radius: 6px;
  transition: color $duration $ease, background-color $duration $ease;
  &:hover {
    background: darken($color: $white, $amount: 15%);
    border-color: darken($color: $white, $amount: 15%);
    color: $primary;
    cursor: pointer;
  }

  &-container {
    overflow: hidden;
  }

  &.-secondary {
    color: $white;
    background: transparent;
    &:hover {
      background: $white;
      color: $primary;
    }
  }

  &.-red {
    background: transparent;
    color: $accent;
    border-color: $accent;
    &:hover {
      background-color: $accent;
      color: $white;
    }
  }

  &.-small {
    padding: 12px 32px;
  }

  &.-large {
    width: 437px;
  }

  &.-sign {
    overflow: hidden;
    position: relative;
    will-change: transform;
    span {
      position: relative;
      display: inline-block;
      will-change: transform;
      transform: translateZ(0);
      transition: transform 0.5s $ease;
      &:after {
        content: attr(data-text);
        display: block;
        position: absolute;
        top: 150%;
        left: 0;
        transform: skewY(7deg);
        transform-origin: left center;
        transition: transform 0.4s;
      }
    }

    &:hover {
      span {
        transform: translateY(-150%) translateZ(0);
        &:after {
          transform: skewY(0);
        }
      }
    }
  }
}
