@import "../../../shared/shared";

.aa-btn-register {
  padding: 12px 56px;
  color: var(--white);
  font-size: var(--f-cta);
  background: var(--accent);
  font-weight: 600;
  border: 2px solid var(--accent);
  border-radius: 6px;
  transition: color var(--duration) var(--ease),
    background-color var(--duration) var(--ease);
  &:hover {
    background: var(--accentHover);
    border-color: var(--accentHover);
    color: var(--white);
    cursor: pointer;
  }

  &-container {
    overflow: hidden;
  }

  &.-secondary {
    color: var(--white);
    background: transparent;
    border-color: var(--white);
    &:hover {
      background: var(--white);
      color: var(--primary);
    }
  }

  &.-red {
    background: transparent;
    color: var(--accent);
    border-color: var(--accent);
    &:hover {
      background-color: var(--accent);
      color: var(--white);
    }
  }

  &.-small {
    padding: 12px 32px;
  }

  &.-large {
    width: 400px;

    @include sm {
      width: 100%;
    }
  }

  &.-sign {
    overflow: hidden;
    position: relative;
    will-change: transform;

    span {
      position: relative;
      display: inline-block;
      will-change: transform;
      transform: translateZ(0);
      transition: transform 0.5s var(--ease);
      &:after {
        content: attr(data-text);
        display: block;
        position: absolute;
        top: 150%;
        left: 0;
        transform: skewY(7deg);
        transform-origin: left center;
        transition: transform 0.4s;
      }
    }

    &:hover {
      span {
        transform: translateY(-150%) translateZ(0);
        &:after {
          transform: skewY(0);
        }
      }
    }
  }
}
