:root,
[data-theme="dark"] {
  /****************************/
  /********** COLORS **********/
  /****************************/
  --primary: #0a1330;
  --secondary: #18213e;
  --accent: #f64740;
  --accentHover: #a22d28;
  --white: #fafafa;
  --white-darken: #dadada;
  --white-opacity25: #52596f;
  --success: #40f671;
  --danger: var(--accent);
  --warning: #f6cc40;
  --shadowOnPrimary: 4px 4px 16px #00000080;
  /****************************/
  /******** TYPOGRAPHY ********/
  /****************************/
  --fontStack: "Montserrat", Helvetica, Arial;

  // sizes
  --f-h1: 56px;
  --f-h1--tablet: 48px;
  --f-h1--mobile: 40px;

  --f-h2: 36px;
  --f-h2--tablet: 32px;
  --f-h2--mobile: 24px;

  --f-h3: 28px;
  --f-h3--tablet: 22px;
  --f-h3--mobile: 20px;

  --f-h4: 18px;
  --f-h4--tablet: 18px;
  --f-h4--mobile: 18px;

  --f-body: 16px;

  --f-cta: 14px;
  --f-cta--large: 18px;

  --f-label: 12px;

  --f-logo: 36px;
  --f-logo--tablet: 24px;
  --f-logo--mobile: 20px;

  /****************************/
  /*********** WIDTH **********/
  /****************************/
  --wrapperWidth: 90%;
  --wrapperWidthMobile: 95%;
  --postWrapperWidth: 60%;
  /****************************/
  /********** OTHER ***********/
  /****************************/
  --radius: 10px;
  --radiusButton: 50px;
  --duration: 0.5s;
  --ease: cubic-bezier(0.44, 0.15, 0.2, 1);
}

[data-theme="light"] {
  //if one day it has light mode
  --primary: var(--white);
  --white: var(--primary);
  --secondary: var(--white-darken);
}
