@import "../../../shared/shared";

.aa-testimonials-body {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 95px;
  .image-container.-left {
    margin-right: -230px;
    z-index: 10;
    overflow: hidden;
    .image {
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 360px;
      height: 500px;

      @include sm {
        width: 300px;
        height: 440px;
      }
    }

    @include sm {
      margin-right: 0px;
    }
  }
  .content.-right {
    background: var(--white);
    border-radius: 10px;
    position: relative;
    margin-top: 150px;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;

    @include sm {
      width: 90%;
      padding: 16px;
      margin-top: -50px;
    }

    p {
      color: var(--primary);
      position: absolute;
      right: 70px;
      width: 55%;
      line-height: calc(var(--f-body) * 2);

      @include sm {
        position: relative;
        width: 100%;
        right: unset;
      }
    }

    .author {
      color: var(--primary);
      font-weight: 600;
      position: absolute;
      right: 100px;
      bottom: 70px;
      margin-top: 24px;

      @include sm {
        bottom: 30px;
      }
    }

    &::before {
      content: "“";
      position: absolute;
      color: var(--primary);
      font-size: 150px;
      line-height: 14.375rem;
      top: 20px;
      left: 225px;

      @include sm {
        left: 30px;
        top: 30px;
      }
    }

    &::after {
      content: "“";
      position: absolute;
      transform: rotate(180deg);
      color: var(--primary);
      font-size: 150px;
      line-height: 14.375rem;
      bottom: 20px;
      right: 10px;
    }
  }

  @include sm {
    flex-direction: column;
    align-items: center;
  }
}
