<div class="aa-testimonials-body">
  <div class="image-container -left" data-aos="fade-right">
    <img
      class="image"
      src="../../../assets/img/singer.jpg"
      alt="Girl playing the guitar"
    />
  </div>
  <blockquote class="content -right" data-aos="fade-left">
    <p class="quote">
      Leur travail sur notre site Web et sur le marketing Internet a fait une
      différence importante pour notre entreprise. Nous avons constaté une
      augmentation de 425% des demandes de devis sur le site Web, ce qui est
      assez remarquable - mais j’aimerais toujours en voir plus!
    </p>
    <footer class="author">Brianna Harper</footer>
  </blockquote>
</div>
