<header class="aa-header">
  <a class="aa-header-logo -left" routerlink="/">
    <img
      class="aa-header-logo-image"
      src="../../assets/icons/Logo_Inverted.svg"
      alt="Logo Ad Astra"
    />
    <p class="aa-header-logo-text">Ad Astra</p>
  </a>
  <div class="aa-header-menu -right">
    <a class="aa-header-menu-link" routerLink="/about">Qui sommes nous ?</a>
    <a class="aa-header-menu-link" routerLink="/contact">Contact</a>
    <aa-btn-register
      btnText="Se connecter"
      btnLink="/connect"
      isSecondary="true"
      isSmall="true"
      isConnect="true"
    ></aa-btn-register>
  </div>
</header>
