<footer class="aa-footer">
  <div class="aa-footer-top">
    <section class="aa-footer-menu -left">
      <div class="aa-footer-menu-links-container">
        <a class="aa-footer-menu-link" data-text="A propos" routerLink="/about"
          >A propos</a
        >
        <a class="aa-footer-menu-link" data-text="Contact" routerLink="/contact"
          >Contact</a
        >
        <a
          class="aa-footer-menu-link"
          data-text="Se connecter"
          routerLink="/connect"
          >Se connecter</a
        >
      </div>
    </section>
    <section class="aa-footer-right">
      <div class="aa-footer-socials">
        <p class="-follow">Suivez-nous</p>
        <div class="icons">
          <a href=""
            ><img src="../../../assets/icons/facebook.svg" alt="Facebook"
          /></a>
          <a href=""
            ><img src="../../../assets/icons/instagram.svg" alt="Instagram"
          /></a>
          <a href=""
            ><img src="../../../assets/icons/twitter.svg" alt="Twitter"
          /></a>
        </div>
      </div>
      <button class="aa-btn -circle -transparent" (click)="scrollToTop()">
        <img src="../../../assets/icons/arrow-up.svg" alt="Arrow Up" />
      </button>
    </section>
  </div>

  <section class="aa-copyright">
    <div class="aa-copyright-body">
      <p class="aa-copyright-body-text">
        Fait avec
        <span class="heart"
          ><img
            src="../../../assets/img/heart-ios.png"
            alt="heart icon" /></span
        >par la team Ad Astra
      </p>
    </div>
  </section>
</footer>
