@import "../../../shared/shared";
.aa-footer {
  margin-top: 225px;

  @include sm {
    margin-top: 100px;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &-menu {
    margin-left: 30px;
    max-width: 35vw;
    display: flex;
    justify-content: space-between;
    &-links-container {
      overflow: hidden;

      @include sm {
        display: flex;
        flex-direction: column;
      }
    }

    &-link {
      margin-right: 6rem;
      font-weight: 600;
      font-size: var(--f-cta);
      position: relative;
      display: inline-block;
      will-change: transform;
      transform: translateZ(0);
      transition: transform 0.5s var(--ease);
      @include sm {
        margin-right: 0rem;
        text-align: center;
        margin-top: 50px;
      }

      &:after {
        content: attr(data-text);
        display: block;
        position: absolute;
        top: 130%;
        left: 0;
        transform: skewY(7deg);
        transform-origin: left center;
        transition: transform 0.4s;
        color: var(--white);

        @include sm {
          content: unset;
        }
      }

      &:hover {
        transform: translateY(-130%) translateZ(0);
        &:after {
          transform: skewY(0);
        }

        @include sm {
          transform: translateY(0) translateZ(0);
        }
      }
    }

    @include sm {
      margin-left: 0px;
    }
  }

  &-right {
    display: flex;

    @include sm {
      margin-top: 100px;
    }
  }

  &-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 96px;

    .-follow {
      font-weight: 600;
    }

    .icons {
      margin-top: 16px;
      a {
        margin-left: 40px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .-circle {
    width: 66px;
    height: 66px;
    padding: 0;
    min-width: 0;
    border-radius: 50%;
    background: transparent;
    border: 1px solid var(--white);
    transition: all var(--ease) 0.3s;

    img {
      position: relative;
      display: inline-block;
      width: 1em;
      height: 1em;
      vertical-align: middle;
    }

    &:hover {
      cursor: pointer;
      background: var(--white);

      img {
        filter: invert(1);
      }
    }
  }

  .aa-copyright {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    .heart img {
      width: 16px;
      height: auto;
      display: inline-block;
      margin: 0 5px;
    }
  }
}
