<div
  class="aa-artist-card"
  [ngClass]="{
    '-book': isBook,
    '-accompagnement': isArrow,
    '-relation': isHand
  }"
  data-aos="zoom-in"
>
  <div class="aa-artist-card-container">
    <div
      class="icon"
      [ngClass]="{
        'icon-book': isBook,
        'icon-arrow': isArrow,
        'icon-hand': isHand
      }"
    ></div>
    <h4 class="legend -book" *ngIf="isBook">Un book en ligne</h4>
    <h4 class="legend -accomp" *ngIf="isArrow">Un accompagnement</h4>
    <h4 class="legend -hand" *ngIf="isHand">Une mise en relation</h4>
  </div>
</div>
