.aa-artist-card {
  padding: 32px;
  background: var(--secondary);
  border-radius: 10px;
  max-width: 224px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      height: 56px;
      width: 56px;
      margin-bottom: 24px;

      &.icon-book {
        background: url("../../../assets/icons/book-open-fill.svg") center
          center no-repeat;
      }
      &.icon-arrow {
        background: url("../../../assets/icons/arrow-left-right-line.svg")
          center center no-repeat;
      }
      &.icon-hand {
        background: url("../../../assets/icons/hands-helping.svg") center center
          no-repeat;
      }
    }

    .legend {
      text-align: center;
    }
  }
}
