@import "../../../shared/shared";

.aa-btn {
  padding: 6px 15px;
  color: $white;
  font-size: $f-cta;
  background: $accent;
  font-weight: 600;
  border: 2px solid $accent;
  border-radius: $radiusButton;
  transition: all $duration $ease;
  color: $white;
  &:hover {
    background-color: $accentHover;
    border-color: $accentHover;
    cursor: pointer;
  }

  &.-secondary {
    background: transparent;
    border-color: $white;
    &:hover {
      background-color: $white;
      color: $primary;
    }
  }

  &.-large {
    padding: 11px 51px;
    border-radius: 50px;
    font-size: $f-cta--large;
  }

  &.-disabled {
    border-color: darken($color: $white, $amount: 60%);
    color: darken($color: $white, $amount: 60%);
    &:hover {
      cursor: not-allowed;
      border-color: darken($color: $white, $amount: 60%);
      color: darken($color: $white, $amount: 60%);
      background: transparent;
    }
  }
}
