<div class="aa-price-card -right -primary">
  <div class="aa-price-card-upper">
    <div class="aa-price-card-number">
      <span class="number">10€</span>
      <span class="timing">/mois</span>
    </div>
    <div class="aa-price-card-legend">
      <p class="-legend">Après le mois gratuit</p>
    </div>
  </div>
  <div class="aa-price-card-list">
    <div class="aa-price-card-list-item">
      <div class="item-dot"></div>
      <span class="item-text">Accès à l'entièreté de l'application</span>
    </div>
    <div class="aa-price-card-list-item">
      <div class="item-dot"></div>
      <span class="item-text"
        >Possibilité de publier vos titres, clips et humeurs</span
      >
    </div>
    <div class="aa-price-card-list-item">
      <div class="item-dot"></div>
      <span class="item-text">Contacter des professionnels de la musique</span>
    </div>
  </div>
</div>
