<app-header-logged-in-or-out></app-header-logged-in-or-out>

<h1 class="contactPageTitle">Ici la tour de contrôle, veuillez décrire votre situation</h1>
<small>Tous les champs sont obligatoires</small>
<br>
<br>

<label class="contactPageLabel" for="inputNom">Nom complet</label><br>
<input [(ngModel)]="name" type="text" name="Nom" id="inputNom">
<br>

<label class="contactPageLabel" for="inputSujet">Sujet de la demande</label><br>
<input [(ngModel)]="subject" type="text" name="Sujet" id="inputSujet">
<br>

<label class="contactPageLabel" for="choiceStatut">Vous êtes</label><br>
<div id="choiceStatut">    
    <input  class="contactPageRadioBtn" type="radio" name="Statut" id="inputStatutPro" value="pro" (change)="isPro=true" >
    <label class="contactPageLabel" for="inputStatutPro">Un professionnel</label>
    <input  class="contactPageRadioBtn" type="radio" name="Statut" id="inputStatutArtiste" value="artiste" (change)="isPro=false" >
    <label class="contactPageLabel" for="inputStatutArtiste">Un artiste</label>
</div>
<br>

<label class="contactPageLabel" for="inputMessage">Votre message</label><br>
<input [(ngModel)]="message" class="contactPageTextarea" type="textarea" name="Message" id="inputMessage">
<br>

<div class="contactPageImage">
    <img src="../../assets/picts/sunyu-kim-NNkmhogy6NM-unsplash.png" alt="">
</div>

<div>
    <aa-button btnText="Envoyer" (click)='onSubmitContactForm() ; $event.stopPropagation()'></aa-button> 
    <!-- //FIXME: un clic, et on change de page... du coup impossibe de binder une fct :(  -->
    <button type="submit" (click)='onSubmitContactForm()'>test</button>
    <p>{{stateInfo}}</p>
</div>

<!-- <hr>
<h1>Mail content : </h1>
<p>Nom complet : {{name}}</p>
<p>Sujet : {{subject}}</p>
<p>Professsionel ? {{isPro}}</p>
<p>Message : {{message}}</p>
<hr> -->