<app-header-logged-in-or-out></app-header-logged-in-or-out>
<main class="aa-content -home">
  <section class="aa-hero">
    <div class="aa-hero-container">
      <div class="aa-hero-body">
        <div class="aa-hero-text -left">
          <h1 class="h1 -title" data-aos="fade-up">
            Bienvenue sur Ad Astra
          </h1>
          <p
            class="-subtitle -bounded"
            data-aos="fade-up"
            data-reveal-group="1"
          >
            Notre mission est d'accompagner les artistes dans toutes les étapes
            du développement de leur projet musical
          </p>
          <aa-btn-register
            btnLink="/register"
            btnText="Embarquez à bord"
            isConnect="true"
            isLarge="true"
            data-aos="fade-up"
            data-reveal-group="2"
          ></aa-btn-register>
          <aa-btn-register
            btnLink="/connect"
            btnText="Se connecter"
            isSecondary="true"
            isConnect="true"
            isLarge="true"
            data-aos="fade-up"
            data-reveal-group="3"
          ></aa-btn-register>
        </div>
        <div
          class="aa-hero-image -right"
          data-aos="zoom-in"
          data-reveal-group="8"
        >
          <img
            class="img-hero"
            src="../../../assets/img/concert-love.jpg"
            alt="home hero image"
          />
        </div>
      </div>
      <div
        class="aa-hero-scroll-body"
        data-aos="fade-up"
        data-reveal-group="10"
      >
        <div class="aa-hero-scroll-body-logo">
          <img src="../../../assets/icons/mouse.svg" alt="MouseIcon" />
        </div>
        <p class="aa-hero-scroll-body-text">Scroll</p>
      </div>
    </div>
  </section>
  <section class="aa-pricing">
    <div class="aa-pricing-container">
      <h2 class="title2 -centered">
        Une formule unique<br />répondant à tous vos besoins
      </h2>
      <div class="aa-pricing-body">
        <div class="aa-pricing-body-image -left" data-aos="zoom-in">
          <img
            class="img-pricing"
            src="../../../assets/img/disk.jpg"
            alt="disk"
          />
        </div>
        <aa-price-card data-aos="fade-up" data-reveal-group="6"></aa-price-card>
      </div>
    </div>
  </section>
  <section class="aa-copyright">
    <div class="aa-copyright-body">
      <p class="aa-copyright-body-text">
        Fait avec
        <span class="heart"
          ><img
            src="../../../assets/img/heart-ios.png"
            alt="heart icon" /></span
        >par la team Ad Astra
      </p>
    </div>
  </section>
</main>
