<app-header-logged-in-or-out></app-header-logged-in-or-out>
<main class="aa-view -home">
  <section class="aa-hero">
    <div class="aa-hero-container">
      <div class="aa-hero-body">
        <div class="aa-hero-text -left">
          <h1 class="-title1" data-aos="fade-up">
            Propulsez votre carrière musicale<br />vers de nouveaux horizons.
          </h1>
          <p class="-subtitle -bounded" data-aos="fade-up" data-reveal-group="1">
            Notre mission est d'accompagner les artistes dans toutes les étapes
            du développement de leur projet musical
          </p>
          <aa-btn-register btnLink="/register" btnText="Commencer l'essai gratuit" isConnect="true" isLarge="true"
            data-aos="fade-up" data-reveal-group="2"></aa-btn-register>
          <aa-btn-register btnLink="/connect" btnText="Se connecter" isSecondary="true" isConnect="true" isLarge="true"
            data-aos="fade-up" data-reveal-group="3"></aa-btn-register>
        </div>
        <div class="aa-hero-image -right">
          <img class="img-hero" src="../../../assets/img/imageHome.png" alt="home hero image" />
        </div>
      </div>
      <div class="aa-hero-scroll-body" data-aos="fade-up" data-reveal-group="10">
        <div class="aa-hero-scroll-body-logo">
          <img src="../../../assets/icons/mouse.svg" alt="MouseIcon" />
        </div>
        <p class="aa-hero-scroll-body-text">Scroll</p>
      </div>
    </div>
  </section>
  <section class="aa-artists">
    <div class="aa-artists-container">
      <h2 class="-title1 -centered" data-aos="fade-up">
        Les artistes, au <span class="-red">coeur</span> de <br />notre
        application
      </h2>
      <aa-home-artists-card isBook="true" data-reveal-group="2"></aa-home-artists-card>
      <aa-home-artists-card isArrow="true" data-reveal-group="3"></aa-home-artists-card>
      <aa-home-artists-card isHand="true" data-reveal-group="4"></aa-home-artists-card>
    </div>
  </section>
  <section class="aa-pricing">
    <div class="aa-pricing-container">
      <h2 class="-title1 -centered" data-aos="fade-up" data-reveal-group="0">
        Une formule <span class="-red">unique</span><br />répondant à tous vos
        besoins
      </h2>
      <div class="aa-pricing-body">
        <div class="aa-pricing-body-image -left" data-aos="zoom-in">
          <img class="img-pricing" src="../../../assets/img/disk.jpg" alt="disk" />
        </div>
        <aa-price-card data-aos="fade-up" data-reveal-group="6"></aa-price-card>
      </div>
    </div>
  </section>
  <section class="aa-professionals">
    <div class="aa-professionals-container">
      <h2 class="-title1 -centered" data-aos="fade-up" data-reveal-group="0" data-aos="fade-up" data-reveal-group="0">
        Pour les professionnels, une<br />
        opportunité <span class="-red">incomparable</span>
      </h2>
      <div class="aa-professionals-cards-container">
        <aa-home-professionals-card isPlanet="true" data-reveal-group="2"></aa-home-professionals-card>
        <aa-home-professionals-card isCheck="true" data-reveal-group="3"></aa-home-professionals-card>
      </div>
    </div>
  </section>
  <section class="aa-testimonials">
    <div class="aa-testimonials-container">
      <h2 class="-title1 -centered" data-aos="fade-up" data-reveal-group="0">
        Des artistes ravis de<br />
        leur <span class="-red">expérience</span>
      </h2>
      <aa-testimonials></aa-testimonials>
    </div>
  </section>
  <section class="aa-partners">
    <div class="aa-partners-container">
      <h2 class="-title1 -centered" data-aos="fade-up" data-reveal-group="0">
        Ils nous font<br />
        <span class="-red">confiance</span>
      </h2>
      <div class="aa-partners-logos">
        <img src="../../../assets/img/logo1-trust.png" alt="Logo 1" data-aos="fade-up" data-reveal-group="3" />
        <img src="../../../assets/img/logo2-trust.png" alt="Logo 2" data-aos="fade-up" data-reveal-group="4" />
        <img src="../../../assets/img/logo3-trust.png" alt="Logo 3" data-aos="fade-up" data-reveal-group="5" />
      </div>
    </div>
  </section>
  <section class="aa-join">
    <div class="aa-join-container">
      <h2 class="-title1 -centered" data-aos="fade-up" data-reveal-group="6">
        <span class="-red">Rejoignez</span> la mission
      </h2>
      <aa-btn-register btnLink="/register" btnText="Commencer l'essai gratuit" isConnect="true" isLarge="true"
        data-aos="fade-up" data-reveal-group="2"></aa-btn-register>
    </div>
  </section>
</main>
<aa-footer></aa-footer>
