@import "../../../shared/shared";
.-home {
  .aa-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    &-container {
      max-width: 95%;
      display: flex;
      flex-direction: column;
      align-content: center;

      @include sm {
        max-width: 100%;
      }
    }
    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .-left {
        display: flex;
        flex-direction: column;

        .-title1 {
          margin-bottom: 56px;
        }
        .-subtitle.-bounded {
          width: 80%;
          margin-bottom: 56px;

          @include sm {
            width: 100%;
          }
        }
        aa-btn-register {
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }

          @include sm {
            align-self: center;
          }
        }
      }
      .-right {
        .img-hero {
          max-height: calc(100vh - 112px);
        }
        @include sm {
          display: none;
        }
      }
      @include sm {
        justify-content: center;
      }
    }
    &-scroll-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -100px;
      &-logo {
        margin-bottom: 8px;
        animation: upAndDown 2s var(--ease) infinite;
      }
      &-text {
        font-weight: 600;
      }

      @keyframes upAndDown {
        0% {
          transform: translateY(0px);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(0px);
        }
      }

      @include sm {
        margin-top: 80px;
      }
    }

    @include sm {
      padding-top: 60px;
    }
  }

  .aa-artists {
    height: calc(100vh - 112px);
    margin-top: 218px;
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;

      .-book {
        position: absolute;
        left: 200px;
        top: 70px;
        @include sm {
          position: relative;
          top: unset;
          left: unset;
          margin-top: 32px;
        }
      }
      .-accompagnement {
        position: absolute;
        right: 200px;
        top: 70px;

        @include sm {
          position: relative;
          top: unset;
          right: unset;
        }
      }
      .-relation {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);

        @include sm {
          position: relative;
          bottom: unset;
          left: unset;
          transform: unset;
        }
      }

      @include sm {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .aa-artist-card {
          margin-bottom: 32px;
        }
      }
    }

    @include sm {
      margin-top: 0px;
      height: unset;
    }
  }

  .aa-pricing {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    &-container {
      width: 85%;
      .-title1 {
        margin-bottom: 114px;

        @include sm {
          margin-bottom: 114px;
        }
      }

      @include sm {
        width: 100%;
      }
    }
    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .-left {
        width: 525px;
        height: 400px;
        .img-pricing {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--radius);
        }

        @include sm {
          display: none;
        }
      }

      @include sm {
        justify-content: center;
      }
    }

    @include sm {
      margin-top: 50px;
    }
  }

  .aa-professionals {
    display: flex;
    justify-content: center;
    height: 100vh;
    &-container {
      width: 60%;
      .-title1 {
        margin-bottom: 128px;
        @include sm {
          margin-bottom: 50px;
        }
      }

      @include sm {
        width: unset;
      }
    }

    &-cards-container {
      display: flex;
      justify-content: space-between;

      .-checked {
        margin-top: 230px;
        @include sm {
          margin-top: 32px;
        }
      }

      @include sm {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .aa-testimonials  {
    display: flex;
    justify-content: center;
    margin-top: 246px;
    height: 100vh;
  }

  .aa-partners {
    margin-top: 236px;
    .-title1 {
      margin-bottom: 64px;
    }
    &-logos {
      display: flex;
      max-width: 75%;
      justify-content: space-between;
      margin: 0 auto;
      flex-wrap: wrap;

      @include sm {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          margin-bottom: 32px;
        }
      }
    }
  }

  .aa-join {
    margin-top: 195px;
    display: flex;
    justify-content: center;
    .-title1 {
      margin-bottom: 64px;
    }

    .aa-btn-register {
      text-align: center;
    }
  }
}
