<app-header-logged-in-or-out></app-header-logged-in-or-out>
<main class="aa-content -page404">
  <div class="container">
    <h1 class="title" data-aos="fade-up">
      On dirait bien que nous avons affaire à une 404...
    </h1>
    <aa-btn 
      btnLink="/home"
      btnText="Retourner à l'accueil"
      data-aos="fade-up"
      data-reveal-group="1"
    ></aa-btn>
  </div>
  <img
    class="aa-content-background"
    src="../../assets/img/404Illus.png"
    alt="404 illustration"
    data-aos="fade-zoom-in"
    data-reveal-group="4"
  />
</main>
