.aa-professional-card {
  padding: 48px 24px;
  background: var(--secondary);
  border-radius: 10px;
  max-width: 206px;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      height: 75px;
      width: 56px;
      margin-bottom: 24px;

      &.icon-planet {
        width: 110px;
        background: url("../../../assets/icons/planet.svg") center center
          no-repeat;
      }
      &.icon-check {
        width: 115px;
        background: url("../../../assets/icons/check-double-fill.svg") center
          center no-repeat;
      }
    }

    .legend {
      text-align: center;
    }
  }
}
